@model EcheancierDotNet.Models.Supplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SAPAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAPAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoices)
        </dt>
        <dd>
            <table class="table" id="invoicesTable">
                <tr>
                    <th>Currency</th>
                    <th>Invoice Reference</th>
                    <th>Due Date</th>
                    <th>Amount</th>
                    <th>Document Number</th>
                    <th>Document Header</th>
                </tr>
                @foreach (var item in Model.Invoices.OrderBy(i => i.DueDate))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Currency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentReference)
                        </td>
                        <td>
                            @item.DueDate.ToString("yyyy/MM/dd")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentHeader)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>Total EUR invoices: </dt>
        <dd>Overdue: <span id="overdueEUR"></span> €</dd>
        <dd>This week: <span id="weekdueEUR"></span>  €</dd>
        <dd>Next week: <span id="nextWeekdueEUR"></span>  €</dd>
        <dd>After next week: <span id="afterNextWeekdueEUR"> €</span></dd>

        <dt>Total USD invoices: </dt>
        <dd>Overdue: <span id="overdueUSD"></span></dd>
        <dd>This week: <span id="weekdueUSD"></span></dd>
        <dd>Next week: <span id="nextWeekdueUSD"></span></dd>
        <dd>After next week: <span id="afterNextWeekdueUSD"></span></dd>

        <dt>Total GBP invoices: </dt>
        <dd>Overdue: <span id="overdueGBP"></span></dd>
        <dd>This week: <span id="weekdueGBP"></span></dd>
        <dd>Next week: <span id="nextWeekdueGBP"></span></dd>
        <dd>After next week: <span id="afterNextWeekdueGBP"></span></dd>


        <dt>
            @Html.DisplayNameFor(model => model.SAPMainAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAPMainAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guichet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guichet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDelay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDelay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/supplierDetails")
}